.white-color {
  color: white;
}

.admin {
  padding-right: 2rem;
  cursor: pointer;
}

.nav-logo {
  padding-left: 2rem;
}

a {
  text-decoration: none;
}

.bg-color {
  background-color: rgb(67, 93, 125);
}
