.delete-btn {
  border: none;
  background-color: rgb(255, 99, 71);
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.delete-btn:hover {
  background-color: rgb(255, 69, 0);
  transform: scale(1.1);
}

.edit-btn {
  border: none;
  background-color: rgb(117, 186, 117);
  color: white;
  padding: 0.5rem 1.649rem 0.5rem 1.65rem;
  font-weight: bold;
}
.edit-btn:hover {
  background-color: rgb(10, 165, 10);
  transform: scale(1.1);
}

.bor {
  border: 1px solid red;
}

.red-font {
  color: red;
  font-weight: bolder;
}
.red-font:hover {
  color: red;
  font-weight: bolder;
}

.cancel-btn {
  border: none;
  background-color: rgb(117, 186, 117);
  color: white;
  padding: 0.5rem 1.649rem 0.5rem 1.65rem;
  font-weight: bold;
}
.cancel-btn:hover {
  background-color: rgb(10, 165, 10);
  transform: scale(1.1);
}
